TOKEN=MyBotToken
LOG_URL=https://logviewername.herokuapp.com/
GUILD_ID=1234567890
SUPPORT_GUILD_ID=1234567890
PREMIUM_ROLE_ID=1234567890
OWNERS=Owner1ID,Owner2ID,Owner3ID
CONNECTION_URI=mongodb+srv://mongodburi
STATUS=online
ACTIVITY_TYPE=custom
ACTIVITY_MESSAGE=DM - FOR SUPPORT
DISABLE_AUTOUPDATES=false